{% extends 'enSentiment/base.html' %}

{% block content %}
                    
                        <div class="card text-center" style="width: 18rem; margin: auto;">
                            <div class="card-body">
                            <H4 class="text-themecolor" style="font-weight: bold;">Who we are?</H4>
                            <h6>We are Computer Sciences Student  who Try to build Sentiment Analyzer website for GP</h6>
                            </div>
                        </div>        
                               
{% endblock %}